@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primairy-color: #748C70;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.text-primary{
  color: var(--primairy-color);
}
.bg-primary{
  background-color: var(--primairy-color);
}